<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  <connectionStrings>
    <add name="cn" connectionString="server=LAPTOP-AHFNJFI6\SQLEXPRESS;database=elibraryDB;integrated security = true;" />
    <add name="cn1" connectionString="server=LAPTOP-AHFNJFI6\SQLEXPRESS;AttachDbFilename=|DataDirectory|\elibraryDB.mdf;User Instance=true;integrated security = true;" providerName="System.Data.SqlClient" />
    <add name="elibraryDBConnectionString" connectionString="Data Source=LAPTOP-AHFNJFI6\SQLEXPRESS;Initial Catalog=elibraryDB;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>
